<template>
  <div class="header">
      <span>Дата: {{this.momentInstance.format('DD.MM.YYYY')}}</span>
      <span>Время: {{this.momentInstance.format('HH:mm:ss')}}</span>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  data() {
    return{
      momentInstance: moment(),
    }
  },
  created: function () {
    this.moment = moment;
    moment.locale('ru');
    setInterval(() => {
            this.momentInstance = moment()
        }, 1000)
  },
}
</script>

<style lang="scss" scoped>
  .header{
    width: 100%;
    height: 64px;
    background-color: #353942;
    display: flex;
    align-items: center;
    span{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      font-size: 18px;
      margin-left: 34px;
    }
  }
</style>