<template>
  <div>
     <Header/>
     <div class="main">
       <OrderCard @click="statusChange(order.id, order.status_id)" v-for="order in orders" :key="order.id" :order="order"></OrderCard>
     </div>
  </div>
</template>

<script>
import Header from './Header.vue'
import OrderCard from './OrderCard.vue'
import axios from 'axios'

export default {
  components: {
    Header,
    OrderCard
  },
  data() {
    return {
      orders: []
    }
  },
  methods:{
    ordersGet(){
      axios.get('https://yummepal-backend.herokuapp.com/api/order/completeOrder', {
        // headers:{
        //   Authorization: "Bearer 3|v7pdj3c2eL0k2MKKqt04KR9p7P10Jf159ZxSfq1x"
        // }
      })
      .then((res)=>{
        this.orders = res.data.orders;
      })
    },
    statusChange(index, status){
      if(status >= 3)
      {
        console.log("Заказ итак уже готов")
      }
      else{
        axios.patch(`https://yummepal-backend.herokuapp.com/api/order/status/${index}`, {
          status_id: status + 1
        })
        .then(()=>{
          this.ordersGet();
        })
      }
    }
  },
  created(){
    this.ordersGet();
    setInterval(()=>{
        this.ordersGet();
    }, 5000)
  }
}
</script>

<style lang="scss" scoped>
  .main{
    padding: 32px 42px 0 42px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px
  }

</style>