<template>
    <div v-if="order.status_id < 3" class="card">
        <div :class="`card__header${headcolor}`">
            <div class="header_info">
                <span>Заказ {{order.id}}</span>
                <span>{{timeConvert()}}</span>
            </div>
            <span>{{order.status.name}}</span>
        </div>
        <div class="elements__wrapper">
            <OrderElem v-for="(product, index) in order.order_product" :key="index" :product="product" :status="order.status_id" />
        </div>
    </div>
</template>

<script>
import OrderElem from './OrderElement.vue'
import moment from 'moment'
import axios from 'axios'

export default {
    props: ['order'],
    components: {
        OrderElem
    },
    data() {
        return {
            headcolor: null,
        }
    },
    methods: {
        timeConvert(){
            return moment(this.order.created_at).format('HH:mm')
        }
    },
    created(){
        this.headcolor = Math.floor(Math.random() * 7) + 1;
    }

}
</script>

<style lang="scss" scoped>
    $color-pool: (1: #BAFF9A, 2: #9AFFF9, 3: #9AB6FF, 4: #FF9AD0, 5: #FF9A9A, 6: #FFD69A, 7: #FFFB9A);
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 335px;
        height: auto;
        border-radius: 10px;
        background-color: transparentize(#8d8d8d, 0.6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        
        .card__header{
            @each $status, $color in $color-pool {
                &#{$status}{
                    background-color: $color;
                    width: 305px;
                    height: 46px;
                    border-radius: 10px 10px 0 0;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-bottom: 15px;
                    padding: 5px 15px;
                }
            }
        }
        .header_info{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .elements__wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>