<template>
  <div class="elem">
      <div class="icon"></div>
      <div class="elem__info">
            <div class="info__top">
                <span>{{product.product.name}}</span>
                <!-- <span>35 см</span> -->
            </div>
            <!-- <span>Допы</span> -->
      </div>
      <div :class="`elem__status${status}`"></div>
  </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    props: ['product', 'status'],
    methods:{
        // statusChanger(){
        //     if(this.status != 3){
        //         return this.status += 1;
        //     }
        // }
    }
}
</script>

<style lang="scss">
    $status-colors: (
    1: #03a9f4,
    2: #FF8833,
    3: #61FF00
    );
    .elem{
        width: 90%;
        height: 56px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        .icon{
          width: 32px;
          height: 100%;  
        }
        .elem__info{
            display: flex;
            flex-direction: column;
        }
        .elem__status{
            @each $status, $color in $status-colors {

                &#{$status} {
                    background-color: $color;
                    width: 8px;
                    height: 100%;
                    border-radius: 0px 5px 5px 0px;
                }
            }
        }
    }
</style>